* {
  font-family: 'Montserrat', sans-serif;
}

.salto {
  content: "A" !important;
  display: block !important;
  margin-bottom: 0.9em !important;
}

.noMargen {
  margin: 0;
}

#contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#contenedor>div {
  width: 50%;
}

#contHabilidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.izqH {
  width: 90px;
}

.derH {
  margin-left: 30px;
  width: 90px;
}

#centrar {
  text-align: center;
}

#centrar>h1 {
  font-size: 2rem;
}

img {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

.ribbon {
  width: 80%;
  height: 0;
  border-right: 30px solid transparent;
  border-bottom: 30px solid rgb(49, 128, 150);
  border-top: 30px solid rgb(49, 128, 150);
  margin-top: 20px;
  margin-bottom: 10px;
}

#dom {
  display: none;
}

.ifDom {
  width: 480px;
  height: 400px;
  border: 0;
  margin-left: 90px;
}

.up {
  position: relative;
  bottom: 20px;
}

i {
  margin: 4px;
}

.nocturno {
  cursor: pointer;
  border: 2px solid rgb(49, 128, 150);
  text-align: center;
  padding: 5px;
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
}

.flecha {
  cursor: pointer;
  border: 0px;
  text-align: center;
  width: 30px;
}

.dark {
  background-color: #222;
  color: #e6e6e6;
}

.verMas {
  cursor: pointer;
  border: 2px solid rgb(49, 128, 150);
  text-align: center;
}

.dark .verMas {
  background-color: #222;
  color: #e6e6e6;
  border: 2px solid rgb(72, 153, 90);
}

.dark .flecha {
  background-color: #222;
  color: #e6e6e6;
}

.dark .nocturno {
  background-color: #222;
  color: #e6e6e6;
  border: 2px solid rgb(72, 153, 90);
}

.dark .ribbon {
  border-bottom: 30px solid rgb(72, 153, 90);
  border-top: 30px solid rgb(72, 153, 90);
}

#menu-icon {
  font-size: 1.5em;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

@media only screen and (max-width: 600px) {
  .derH {
    margin: 0;
  }
  .test1 {
    font-size: 24px;
    bottom: 30px;
  }
  .test2 {
    font-size: 24px;
  }
  .ifDom {
    width: 250px;
    height: 200px;
    border: 0;
    margin-left: 25px;
  }
}